/* I used Google Fonts for this build. You can change it to whatever you like. I recommend Google Fonts as it gives you a pairing for your main text selection. If you find there's a paid font you like somewhere else, you can use fontsquirrel to find a free equivalent. */
/* Colors used in this theme are colorblind safe. If you REALLY want to change them, I would suggest using Adobe Color to help you determine a palette that does. Let's keep the web accesible for all :) */
body {
    padding-top: 56px;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 60px;
    background-color: #D4D4DC;
    
}

/* This allows smooth scrolling. However, it does NOT work with Safari. I have attached a JS file which takes care of that */
html {
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

p, .btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12x;
}

.btn-cust {
    background-color: #393F4D;
    border-color: #393F4D;
    color: #FFF;
}

.btn-cust:hover {
    background-color: #D4D4DC;
    color: #000;
    border-color: #D4D4DC;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 56px;
    }
}




/* The following customizes the navbar links and you can change it to whatever you like. */ 



.navbar-custom .navbar-nav .nav-link {
    color: #FEDA6A; 
}

.nav-item.visited {
    color: #D4D4DC;
}


.navbar-custom {
    background-color: #393F4D;
    font-size: 15px;
    color: #FFF;
}



/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #FFF;
}


/* this is for your logo */
#logo {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 5px;
    -webkit-text-stroke: 1.5px #FEDA6A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-image:url("http://placegoat.com/200/200");   
    display: inline-flex;
}


/* this is for the jumbotron! change this to suit your needs */
.jumbotron {
    background-color: #000;
    color: #FEDA6A;
    margin-bottom: 0px;
    
}




/* The following two items are for the first line which types out */
.transp {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    padding-bottom: 5px;
    letter-spacing: 5px;
    animation: 
        typing 3.5s steps(40,end),
        blink-caret .75s steps(50,end) infinite;
    -webkit-text-stroke: 1.5px #FEDA6A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    background-image: url("http://placegoat.com/200/200");   
    background-repeat: no-repeat;
    display: inline-flex;
}

@keyframes typing {
    from {
        width: 0
    }
    
    to {
        width: 100%
    }
}

/* This is for line two, which fades in */

.linetwo {
    animation: 
        fadeIn ease 7s forwards ,
        blink-caret .75s steps(50,end) infinite;
        background-image: url("http://placegoat.com/200/200");
}

@keyframes fadeIn {
    0%, 100% {
        opacity:0;
        background-image: url("http://placegoat.com/200/200");
        -webkit-text-stroke: 1.5px #FEDA6A;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    100% {
        opacity:1;
        background-image: url("http://placegoat.com/200/200");
        -webkit-text-stroke: 1.5px #FEDA6A;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

   
/* This is where you customize the color for the project section. Note that I used the same background and font color for the contact section as well */

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

#projects, #contact {
    background-color: #393F4D;
    color: #FFF;
    
}

.mininav {
    list-style-type: none;
    display: inline;
    font-size: 12px;
}

.portlink {
    text-decoration: none;
    color: #FEDA6A; 
    
    
}







/* This is the about me section */
#about {
    background-color: #D4D4DC;
    
}

/* This is the contact section. Be sure to change the email address! */




/* This is the footer*/

.bot-custom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; 
    line-height: 60px; 
    background-color: #393F4D;
    color: #FEDA6A;
}

#heart {
    color: #D34D4D; 
}

#boot {
    color: #7952b3;
}

#github-square {
    color: #FFF;
}
